# Ignore configuration files that may contain sensitive information
.env

static/*
staticfiles/*

# Database
collected_static/mysite*
staticfiles/mysite*
media/*

db.sqlite3

#Ignore pycache
__pycache__/
