# Ignore configuration files that may contain sensitive information
.env
DjangoProfile/settings/prod.py

# Database
collected_static/mysite*
staticfiles/mysite*
media/*

db.sqlite3

#Ignore pycache
__pycache__/
