{% extends 'base.html' %}
{% load static %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Add icon library -->
<link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />

<style>
/*    h1{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: initial;
        display: flex;
        justify-content: center;
        margin: auto;
        visibility: visible;
    }*/

    .center {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        align-content: center;
        gap: 10px;
    }

    #contact_icon {
        color: black;
    }

    body.contact_container {
        background-color: beige;
        width: auto;
        height: 100%;
    }

    div.container4 {
        height: 10em;
        position: relative;
    }
    div.container4{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

</style>
<!-- Contact, special font from htmlcolorcodes.com, and icons from fontawesomeness-->
<main style="height: 425px; margin: 0 auto 22% auto; overflow: auto;">
    <body class="contact_container">
        <div class="container4">
            <h1 style="overflow: hidden;">🆃🅷🅰🆆🅽🅶 🅷🅼🆄🅽🅶</h1>
            <div class="center">
                <!-- link to education gmail-->
                <a href="mailto: tthmung@mtu.edu">
                    <i id="contact_icon" class="fas fa-envelope-square"></i>
                </a>
                <!-- Link to profile on linkedin-->
                <a href="https://www.linkedin.com/in/thawng-hmung">
                    <i id="contact_icon" class = "fab fa-linkedin"></i>
                </a>
                <!-- Link to profile on github-->
                <a href="https://github.com/tthmung">
                    <i id="contact_icon" class="fab fa-github-square"></i>
                </a>
            </div>
        </div>
    </body>
</main>
{% endblock %}
