{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

    .title {
        color: black;
        text-align: center;
        font-size:3.5vw;
        padding-top: 5%;
    }

    .home_container {
        background: url("{% static 'mysite/IMG_4678.JPG' %}") no-repeat;
        background-size: cover;
        padding-bottom: 50%;
        padding-top: 2%;
    }
</style>
<!-- Home page, contain the name my name and a profile pictures -->
<div class="home_container">
    <h2><h2>
    <h2 class="title">Thawng Hmung</h2>
</div>
{% endblock %}
