{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'base.css' %}">

<style>
    @media (prefers-color-scheme: light) {
        #wgr {
            background-image: linear-gradient(to right, #72d3e2, #abc9cf);
        }

        .carousel .carousel-indicators li.active {
            background-color: #c0e6df;
        }

        .carousel .carousel-indicators li {
            background-color: #c0e6df83;
        }
    }

    #h-buttom {
        margin-left: 5px;
        margin-right: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    a:hover {
        color: #aec7d2;
    }

    .text-field {
        width: 500px;
    }

    .carousel-inner {
        width: 400px;
    }

    @media (max-width: 1024px) {
        .text-field {
            width: 400px;
        }
    }

    @media (max-width: 640px) {
        .carousel {
            max-width: 450px;
        }

        .center {
            display: flex;
            justify-content: center;
        }
    }

</style>

<body id="wgr">
    <div class="d-flex flex-column justify-content-center align-items-center">
        {% for item in items %}
        <!-- Justify center of flex about item and its pictures -->
        <div class="d-sm-flex justify-content-around align-items-center px-sm-5 c-items my-sm-3 my-1">
            <div class="col">
                <!-- The item description -->
                <div class="mr-sm-5 text-field">
                    <h1>{{ item.company_name }}</h1>
                    <h2>{{ item.position_name }}</h2>
                    <h3>{{ item.date_started }} - {{ item.date_ended }}</h3>
                    <p>{{ item.position_detail }}</p>
                </div>
            </div>
            <div class="pl-sm-5 center">
                <!-- The pictures corresponding to the item-->
                <!-- Boothstrap Carousal Control -->
                <div id="{{ forloop.counter }}experience_carousel" class="carousel slide" data-interval="false">

                    <div class="carousel-inner" style="width: 400px;">
                        {% for img in item.exp_pics.all %}
                        <div class=" carousel-item {% if forloop.first %} active{% endif %}">
                            <img class="d-block w-100"
                                src="{% if img is not None and img.pictures is not None %}{{img.pictures.url}}{% else %}{% static 'mysite/imagenotfound.png' %}{% endif %}"
                                class="img-fluid" alt=""
                                style="height: 400px; border: 1px solid black; border-radius: 20px; object-fit: contain;">
                        </div>
                        {% endfor %}
                    </div>

                    <ol class="carousel-indicators">
                        {% for img in item.exp_pics.all %}
                        <li id="h-buttom" data-target="#{{ forloop.parentloop.counter }}experience_carousel"
                            data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}>
                        </li>
                        {% endfor %}
                    </ol>

                    {% if item.exp_pics.count != 1 %}
                    <a class="carousel-control-prev {{ forloop.counter }}"
                        href="#{{ forloop.counter }}experience_carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon {{ forloop.counter }}" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next {{ forloop.counter }}"
                        href="#{{ forloop.counter }}experience_carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon {{ forloop.counter }}" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
{% endblock %}
